<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WdicGazer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WdicGazer.My.MySettings>
            <setting name="CatAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatComm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatTel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirDictionary" serializeAs="String">
                <value/>
            </setting>
            <setting name="DirPlugin" serializeAs="String">
                <value/>
            </setting>
            <setting name="CatComp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatTech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatNat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatCul" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatSoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatEdu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatGeo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatTran" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatRail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatMoe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatMili" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxSearch" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DicAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicWdic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeaCapitalCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicRail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicGeo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicMili" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicCul" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicMoe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicSci" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DicTech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RowWord" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RowTypeLarge" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowTypeSmall" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowDirLarge" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowDirSmall" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowPos" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowYomi" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowSpell" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowAbbr" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowPron" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowDescription" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RowFilename" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowFullPath" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowLineNumber" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SeaPrefix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeaSuffix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeaInclude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeaPerfect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeaRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeaTextSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YearBC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YearImperial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YearEra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextEditorExeFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="TextEditorOption" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxDisplay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxHistory" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoTransfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlreadyNoMakeTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlreadyMoveOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Time12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Time24" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeBeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RubyUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RubyParent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RubyNotUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayWordWidth" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="DisplayWordHeight" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="NumberPrecision" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DisplayGraphic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayGraphicInParagraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RowTypeName" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowDirName" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ViewWordHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookmarkData" serializeAs="String">
                <value/>
            </setting>
            <setting name="HistoryData" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxTab" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IncludeHeader" serializeAs="String">
                <value>True</value>
            </setting>
        </WdicGazer.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
